$color-black-lighter: #404040; // header-border
$color-black: #3a3a3a; // menu6
$color-black-light: #3c3c3c; // search-border
$color-black-darker: #262624;

$color-silver-darkest: #646464;
$color-silver-darker: #7a7a7a;
$color-silver-dark: #8f8f8f;
$color-silver: #9b9b9b;
$color-silver-light: #9d9d9d; // topbar text color
$color-silver-lighter: #a6a6a6;

$color-white-dark: #f4f4f4; // topbar, footer background color

$color-red-lighter: #ff0c47; // price
$color-red-light: #fc1934; // menu1 background, sub-title, topbar-hover, fa-gift
$color-red: #d82016; // menu6 background
$color-red-dark: #d23150; // summary-red
$color-red-darker: #b43840; // recommend-hover

$color-yellow: #f6d000; // yellow

$color-blue: #194085; //blue
$color-blue-dark: #2a3a76; // summary

$color-green: #a9de46; // GREEN

$color-topbar-text: #9d9d9d;
$color-topbar-border: #9d9d9d;

$color-white: #ffffff;


$color-red-light-2: #ffc5c5;

$color-green-default: #16967a;
$color-green-light: #b3ffd8;


$color-tab-active: #35A1FB;

$color-review-star: #f0e68c;


$color-overlay-bg: rgba(200, 200, 200, 0.7);

$bg-color-mini-product: #fff;
$bg-color-blog: #fff;
$bg-color-search-input: #fff;

$color-product-overlay: rgba(74, 72, 74, 0.66);

$color-btn-hover: #fff;

$bg-color-compare-basket: #fff;
$color-btn-close-hover: #828282;

$color-sub-title-border: #828282;

$color-prod-seller: #fff;
$bg-color-prod-seller: rgba(0, 123, 255, 0.7);

$bg-color-inline-filter: #fff;

$bg-color-sidebar: #fff;

$color-menu-item: #fff;

$color-topbar: #aaa;
$color-topbar-hover: #fe5c22;

$color-easy-search: #757575;
$color-easy-search-hover: #ff4d00;
$color-easy-search-border: #686868;

$bg-color-submenu: rgba(19, 10, 7, 0.8);
$color-btn-type1: #fff;
$bg-color-btn-type2: #ff4d00;

$bg-color-footer: #f4f4f4;
$color-footer-bold-text: #7b7b7b;
$color-footer-hover: #fe5c22;

$bg-color-spinner: rgba(19, 10, 7, 0.8);


$color-pagination-current-page: #ff4d00;

$bg-color-account-tab: #fff;
$color-vertical-tab-text: #828282;
$color-vertical-tab-text-hover: #ff4d00;
$bg-color-vertical-tab-text-hover: #f4f4f4;

$bg-color-btn-default: #ff4d00;
$bg-color-btn-default-hover: transparent;
$color-btn-default-border: #ff4d00;
$color-btn-default-text: #fff;
$color-btn-default-text-hover: #ff4d00;

$color-action-view: #ff4d00;

$border-color-panel-head: #a5a5a5;

// New Theme

// Menu Background
$color-red1: #fc1934;
$color-yellow1: #f7d000;
$color-blue1: #194085;
$color-green1: #a9de46;
$color-black3: #3a3a3a; // menu-bottom-color

// Menu Text Color
$color-black1: #2e2e2e;
$color-black2: #303030;

$color-silver1: #dadada;

$color-brand: #764abc;