@import "colors";
@import "mixin";

$font-family-regular: Arial;

$fs-md: 1rem;
$fs-sm: 0.8rem;
$fs-xs: 0.5rem;
$fs-lg: 1.2rem;
$fs-xlg: 1.5rem;

$mobile-resolution: 767px;
$desktop-resolution: 768px;