.blog-filter {
  padding: 0.5rem 2rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background: $bg-color-inline-filter;

  ul.sort {
    margin: 0 -2rem;
    li {
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        margin-left: 0;
      }
    }
    .btn > i {
      &.fa-sort-up {
        top: calc(50% - 0.3rem);
      }
      &.fa-sort-down {
        top: calc(50% - 0.7rem);
      }
    }
  }
}