.blog-img {
  .dropzone-thumb {
    display: inline-block;
    border: 1px solid #eaeaea;
    
    max-width: 500px;
    min-width: 200px;
    // min-height: 200px;
    box-sizing: border-box;
    background: #fff;

    p {
      padding: 2rem 0;
      cursor: pointer;
    }
  }
}