.form-phone {
  .form-group {
    margin-bottom: 2rem;
    .inline-input {
      display: inline-block;
      vertical-align: bottom;
      width: calc(100% - 8rem);
      font-size: 1rem;
    }
  }
  .react-phone-number-input__country .rrui__select__button ,
  .rrui__input-field {
    background: transparent;
  }
}  